<%= form_for(offer) do |f| %>
  <% if offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

    <div class="field select_create">
      <%= f.label :ownerID %><br>
        <%= f.select(:ownerID) do %>
        <% [['AdsFast','1'],['Appave','2'],['Dobermanmedia','3'],['Doozymob','4'],['Eway','5'],['Flame Digital	','6'],['Iwoop','7'],['Jungletap','8'],['Lollitap','9'],['Mobaloo','10'],['Mobiletraffic','11'],['Mobiplay','12'],['Mobtray','13'],['Mobupps','14'],['Offerseven','15'],['Playbeat','16'],['Rulead','17'],['Smartlead','18'],['Somoto','19'],['Sparklemob','20'],['Spyke Media	','21'],['Stingrad','22'],['Tapgerine','24'],].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>  </div>

  <div class="field">
    <%= f.label :installs %>
    <%= f.text_field :installs %>
  </div>

  <div class="field">
    <%= f.label :revenue  %>
    <%= f.text_field :revenue, :value => 0%>
  </div>

    <div class="field select_create">
      <%= f.label :risk %><br>
        <%= f.select(:risk) do %>
        <% [['U','0'],['L','1'],['M','2'],['H','3'],['VH','4'],].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>  </div>

    <div class="field select_create">
      <%= f.label :finalStatus %><br>
        <%= f.select(:finalStatus) do %>
        <% [['Confirmed','0'],['Hold','1'],['Reduction','2'],].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>  </div>

    <div class="field select_create">
      <%= f.label :comment1 %><br>
        <%= f.select(:comment1) do %>
        <% [['Duplicated IPs','Duplicated IPs'],['RR=0%','RR=0%'],['Traffic Restrictions','Traffic Restrictions'],['High CR','High CR'],['Incent Traffic','Incent Traffic'],['Suspicious installs time','Suspicious installs time'],['Hourly CR','Hourly CR'],['KPI','KPI'],['No in-App Activity','No in-App Activity'],['Click-Spamming','Click-Spamming'],['Time between installs','Time between installs'],['Wrong GEO','Wrong GEO'],['Overcapping','Overcapping'],['No Issues Detected','No Issues Detected'],['KPI issues detected','KPI issues detected'],['KPI accomplished','KPI accomplished'],['Good RR','Good RR'],].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>  </div>



  <div class="field">
    <%= f.label :subComent1 %>
    <%= f.text_field :subComent1 %>
  </div>

    <div class="field select_create">
      <%= f.label :comment12 %><br>
        <%= f.select(:comment2) do %>
        <% [['No Comment',''],['Duplicated IPs','Duplicated IPs'],['RR=0%','RR=0%'],['Traffic Restrictions','Traffic Restrictions'],['High CR','High CR'],['Incent Traffic','Incent Traffic'],['Suspicious installs time','Suspicious installs time'],['Hourly CR','Hourly CR'],['KPI','KPI'],['No in-App Activity','No in-App Activity'],['Click-Spamming','Click-Spamming'],['Time between installs','Time between installs'],['Wrong GEO','Wrong GEO'],['Overcapping','Overcapping'],['No Issues Detected','No Issues Detected'],['KPI issues detected','KPI issues detected'],['KPI accomplished','KPI accomplished'],['Good RR','Good RR'],].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>  </div>



  <div class="field">
    <%= f.label :subComent2 %>
    <%= f.text_field :subComent2 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
