<p id="notice"><%= notice %></p>

<h1>Affiliates</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Logolink</th>
      <th>Moneyconfirmed</th>
        <th>codes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @affiliates.each do |affiliate| %>
      <tr>
        <td><%= affiliate.id %></td>
        <td><%= affiliate.name %></td>
        <td><%= affiliate.logoLink %></td>
        <td><%= affiliate.moneyConfirmed %></td>
        <td><%= affiliate.code %></td>

        <td><p><a href="/<%= affiliate.id %>/<%= affiliate.code%>" %>show</a></p></td>
          <td><p><a href="/<%= affiliate.id %>/<%= affiliate.code%>/edit" %>edit</a></p></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Affiliate', new_affiliate_path %>
