    

<header>

</header>      

<header class="main-header">
  <h1><img src="/AFFILIRISKlLOGO.jpg" alt="AFFILIRISKlLOGO" style="width:350px;height:60px"></h1>

    <nav>
      
    <ul>
      <img src="/mobiusi.png" alt="AFFILIRISKlLOGO" style="width:60px;height:60px">
       
      <li><%= @affiliate.name %></li>
      <li><%= @M %></li>
      <li><%= @affiliate.logoLink %></li>
    </ul>
      
  </nav>
    
</header>

<h2 class="discover"> Discover you no-payment risk </h2 >

<table class="container">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Installs</th>
      <th>Revenue</th>
    </tr>
      
  </thead>
  <tbody>
    <% @offers.each do |request| %>
      <tr>
    <%=
      if request.risk==0
        @text="U"
        @textSub="U: No enough data"
      end  
      if request.risk==1
        @text="L"
        @textSub="L: There is only a 10% non payment probability.  "
      end  
      if request.risk==2
        @text="M"
        @textSub="M: There is more than 40% of non-payment probability."
      end  
      if request.risk==3
        @text="H"
        @textSub="H: There is more than 70% of non-payment probability."
      end 
      if request.risk==4
        @text="V"
        @textSub="V: There is more than 90% of non-payment probability"
      end 
    %>
         <%=
      if request.finalStatus==0
        @textS="Confirmed"
      end  
      if request.finalStatus==1
        @textS="Hold"
      end  
      if request.finalStatus==2
        @textS="dedution"
      end  
  
    %>  
        <td><%= request.id %></td>
        <td><%= request.name %></td>
        <td><%= request.installs %></td>
        <td><%= request.revenue %></td>
        <td>  <a href="#" class="action-button s<%= request.risk %>" data-tooltip="<%= @textSub %>"><%= @text %>  </a>
          </td>

        <td><%= @textS %></td>
        <td><a href="#" class="action-button s<%= request.risk %>" data-tooltip="<%= request.subComent1 %>"><%= request.comment1 %></a>
</td>
          <td><a href="#" class="action-button s<%= request.risk %>" data-tooltip="<%= request.subComent2 %>"><%= request.comment2 %></a>
</td>
      </tr>
    <% end %>
  </tbody>
</table>
</p>


<footer></footer>