    
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header>

</header>      

<header class="main-header">
  <h1><img src="/AFFILIRISKlLOGO.jpg" alt="AFFILIRISKlLOGO" style="width:350px;height:60px"></h1>
    <nav>
      
    
     
       <ul>
<img src="/mobiusi.png" alt="AFFILIRISKlLOGO" style="width:60px;height:60px ">
           
<!--      <li><strong>$ CONFIRMED: </strong><%= @M %></li>-->
    </ul>
      
  </nav>
    
</header>
<p></p>
<p></p>
<p></p>

<h2 class="discover"> Discover your no-payment risk </h2 >
 <div style="">
     <p class="ris2
"><a href="#" class="action-button s0 ris " data-tooltip="U: No enough data">U</a>    <a href="#" class="action-button s1 ris" data-tooltip="L: There is only a 10% non payment probability.">L</a>
         <a href="#" class="action-button s2 ris" data-tooltip="M: There is more than 40% of non-payment probability.">M</a>    <a href="#" class="action-button s3 ris" data-tooltip="H: There is more than 70% of non-payment probability.">H</a>   
         <a href="#" class="action-button s4 ris" data-tooltip="VH: There is more than 90% of non-payment probability.">V</a>
     </p>
<!--<img src="/Risk.png" alt="AFFILIRISKlLOGO" style="width:30%;height:30%">-->
</div>
<body>
<div class="subBody">    
<table class="container">
  <thead>
    <tr>
      <th>Name</th>
      <th>Installs</th>
      <th>Revenue</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>

    </tr>
      
  </thead>
  <tbody>
    <% @offers.each do |request| %>
      <tr>
    <%
      if request.risk==0
        @text="U"
        @textSub="U: No enough data"
      end  
      if request.risk==1
        @text="L"
        @textSub="L: There is only a 10% non payment probability.  "
      end  
      if request.risk==2
        @text="M"
        @textSub="M: There is more than 40% of non-payment probability."
      end  
      if request.risk==3
        @text="H"
        @textSub="H: There is more than 70% of non-payment probability."
      end 
      if request.risk==4
        @text="V"
        @textSub="V: There is more than 90% of non-payment probability"
      end 
    %>
         <%
      if request.finalStatus==0
        @textS="Confirmed"
      end  
      if request.finalStatus==1
        @textS="Hold"
      end  
      if request.finalStatus==2
        @textS="dedution"
      end  
  
    %>  
        <td><%= request.name %></td>
        <td><%= request.installs %></td>
        <td><%= request.revenue %></td>
        <td>  <a href="#" class="action-button s<%= request.risk %>" data-tooltip="<%= @textSub %>"><%= @text %>  </a>
          </td>

        <td><%= @textS %></td>
        <td><a href="#" class="action-button s<%= request.risk %>" data-tooltip="<%= request.subComent1 %>"><%= request.comment1 %></a>
</td>
          <td><a href="#" class="action-button s<%= request.risk %>" data-tooltip="<%= request.subComent2 %>"><%= request.comment2 %></a>
</td>
      </tr>
    <% end %>
  </tbody>
</table>
</p>
<p>.</p>
<p></p>
<p></p>
    
</div>
</body>
<!--<footer>
    <p class="Fott"><strong>Any question or feedback? </strong></p>

        <p class="Fott">Contact your account manager</p>
        <p class="Fott"><i class="fa fa-skype"></i> jorge.campos@doozymob.com</p>
<img src="/madrid.png" alt="AFFILIRISKlLOGO" style="text-aling:center;">
</footer>-->

<footer>
    <p style="text-align:center;"><strong style="text-aling:center; font-size: 15px;">With <i class="fa fa-heart" aria-hidden="true" style="color:red;"></i> for our affiliates</strong></p>
    <hr style="width: 90%;">    
<div id="wrapper">
<div id="footer">
<div class="footerFloat">
<h4><strong>Any question or feedback? </strong></h4>
<pre>Contact your account manager.
<i class="fa fa-skype"></i> jorge.campos@doozymob.com</pre>

</div>
<div class="footerFloat">
<img src="/madrid.gif" alt="AFFILIRISKlLOGO" style="text-aling:center;width:376px;height:110px">
    <hr style="width: 75%;">
    <p class="margina" style="font-size: 10px; text-align: center;"><i class="fa fa-copyright" aria-hidden="true"></i>2017 affilirisk tecnologies all rights reserved to Doozymob</p>
</div>
<div class="footerFloat">

<ul>
<pre class="preFoot">Affilirisk by Doozymob
Discover your no-payment risk</pre>
</ul>
</div>
</div></footer>
